.keywordsChip{
    border : 2px solid #ffc107 ;
    background : transparent  ;
    color:white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
        background : #ffc107;
    }
}

@media screen and (max-width:500px) {
    .keywordsChip{
        &.mx-4 {
            margin-left: .5em !important;
            margin-right: .5em !important;
        }
        &.mt-5{
            margin-top: 1.5em !important;
        }
        &.px-4{
            padding-right: 1em !important;
            padding-left: 1em !important;
        }
        &.py-3{
            padding-top: .5em !important;
            padding-bottom: .5em !important;
        }
    }
}